<app-navbar [role]="fRole"></app-navbar>
<div class="container">
    <div>
        <form novalidate (ngSubmit)="findDataByCode()" [formGroup]="codeOfUser">
            <div class="form-row align-items-center dimensions">
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Código" formControlName="userCode">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" disabled="true" [placeholder]="employeeName">
                </div>
            </div>
        </form>
        <br>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Aerolinea</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets">
                <th scope="row">{{ticket.ticketCode}}</th>
                <td>{{ticket.airlineName}}</td>
                <td>
                    <input type="button" class="btn btn-danger" routerLink="/purchase/ticket/evaluate/{{ticket.ticketCode}}" value="Cargar">
                </td>
            </tr>
        </tbody>
    </table>
</div>