<app-navbar [role]="fRole"></app-navbar>
<div class="container divFather">
    <div class="form">
        <div class="row">
            <div class="col-md-5">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="programacion">Programación</label>
                        <input type="text" disabled="true" class="form-control" id="programacion" [value]="programCodeRoute">
                    </div>
                    <div class="form-group col-md-7">
                        <label for="searchprogram">&nbsp;</label>
                        <div class="myBut">
                            <button type="button" id="searchprogram" class="btn btn-secondary" [routerLink]="['/home/program/consult']">Buscar programacion</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group col-md-10">
                    <label for="comisionado">Comisionado</label>
                    <input type="text" class="form-control" id="comisionado" disabled="true" [value]="employeeName">
                </div>
                <div class="form-group col-md-10">
                    <label for="entidad_minera">Entidad minera</label>
                    <input type="text" class="form-control" id="entidad_minera" disabled="true" [value]="miningName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-7">
                <label for="exampleFormControlFile1">Adjuntar documentos de sustento</label>
                <div class="col-sm-9">
                    <span class="btn btn-default btn-file">
                        <input id="exampleFormControlFile1" (change)="attachFiles($event.target.files)" type="file" class="form-control-file" multiple data-show-upload="true" data-show-caption="true">
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="searchprogram">&nbsp;</label>
                <div class="myBut">
                    <button type="button" id="searchprogram" class="btn btn-secondary" [disabled]="isEnable" (click)="getDataTable(filesUploaded)">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table" id="dataFiles">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre de archivo</th>
                    <th>Titulo de enlace</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of filesUploaded">
                    <th>{{file.name}}</th>
                    <td>
                        <input type="text" id="{{file.name}}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<button id="modalUploadFileButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalUploadFile">
        Modal de UploadFile
    </button>
<br>
<button id="modalToErrorButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalToError">
        Modal de Error
    </button>

<!-- Modal to Register -->
<div class="modal fade" id="modalUploadFile" tabindex="-1" role="dialog" aria-labelledby="modalUploadFileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrar cronograma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{backResponse.description}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/home">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal to Error -->
<div class="modal fade" id="modalToError" tabindex="-1" role="dialog" aria-labelledby="modalToErrorTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Alerta de error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{error}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/home">Cerrar</button>
            </div>
        </div>
    </div>
</div>