<div class="titleFather">
    <div class="jumbotron titleSon">
        <h1 class="display-3">MINEM</h1>
    </div>
    <br>
    <div class="titleSon">

        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="login">
            <div class="form-group">
                <label>
                    <!--span>Username</span-->
                    <input placeholder="Username" class="form-control" type="text" formControlName="username">
                </label>
                <br>
                <label>
                    <!--span>Password</span-->
                    <input placeholder="Password" class="form-control" type="password" formControlName="password">
                </label>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
        </form>
        <div *ngIf="userInvalid">Datos invalidos.</div>

    </div>
</div>