<app-navbar [role]="fRole"></app-navbar>
<div class="container">
    <div>
        <form novalidate (ngSubmit)="findDataByCode()" [formGroup]="codeOfUser">
            <div class="form-row align-items-center dimensions">
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Código" formControlName="userCode">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" disabled="true" [placeholder]="employeeName">
                </div>
            </div>
        </form>
        <br>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Entidad Minera</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chronogram of chronograms">
                <th scope="row">{{chronogram.chronogramCode}}</th>
                <td>{{chronogram.miningEntity}}</td>
                <td>{{chronogram.initialDate}}</td>
                <td>{{chronogram.finalDate}}</td>
                <td>
                    <input type="button" class="btn btn-danger" routerLink="/home/program/register/{{chronogram.chronogramCode}}" value="Cargar">
                </td>
            </tr>
        </tbody>
    </table>
</div>