<app-navbar [role]="fRole"></app-navbar>
<div class="container">
    <div>
        <form novalidate (ngSubmit)="findDataByCode()" [formGroup]="codeOfUser">
            <div class="form-row align-items-center dimensions">
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Código de empleado" formControlName="userCode">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" disabled="true" [placeholder]="employeeName">
                </div>
            </div>
        </form>
        <br>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Entidad minera</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let program of programs">
                <th scope="row">{{program.programCode}}</th>
                <td>{{program.miningEntity}}</td>
                <td>
                    <input type="button" class="btn btn-danger" routerLink="/livelihood/verify/{{program.programCode}}" value="Cargar">
                </td>
            </tr>
        </tbody>
    </table>
</div>