<app-navbar [role]="fRole"></app-navbar>
<div class="titleFather">
    <div class="jumbotron titleSon">
        <h1 class="display-3">MINEM</h1>
    </div>
    <br>
    <div *ngIf="!isContinue" class="titleSon">
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="validateForm">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="user">Usuario</label>
                <input type="text" class="form-control" id="user" formControlName="user">
            </div>
            <button type="submit" class="btn btn-danger btn-block" [disabled]="validateForm.invalid">Validar datos</button>
        </form>
    </div>
    <div *ngIf="isContinue" class="titleSon">
        <form novalidate (ngSubmit)="onSubmitPassword()" [formGroup]="passwordForm">
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="form-group">
                <label>Confirmar contraseña</label>
                <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm">
            </div>

            <button type="submit" class="btn btn-danger btn-block" [disabled]="passwordForm.invalid">Cambiar contraseña</button>
        </form>
    </div>
</div>


<button id="modalUpdatePasswordButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdatePassword">
        Modal de registro
    </button>
<br>
<button id="modalToErrorButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalToError">
    Modal de Error
</button>


<!-- Modal to UpdatePassword -->
<div class="modal fade" id="modalUpdatePassword" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePasswordTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cambiar contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                {{backResponse.message}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/login">Ingresar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal to Error -->
<div class="modal fade" id="modalToError" tabindex="-1" role="dialog" aria-labelledby="modalToErrorTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Alerta de error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                {{error}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>