<app-navbar [role]="fRole"></app-navbar>
<div class="container">
    <div>
        <form novalidate (ngSubmit)="findDataByCode()" [formGroup]="codeOfUser">
            <div class="form-row align-items-center dimensions">
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Código de empleado" formControlName="userCode">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" id="inlineFormInputName" disabled="true" [placeholder]="employeeName">
                </div>
            </div>
        </form>
        <br>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Entidad Minera</th>
                <th scope="col">Viaticos</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let program of programs">
                <th scope="row">{{program.programCode}}</th>
                <td>{{program.miningEntity}}</td>
                <td>{{program.viaticFlag | state:'v'}}</td>
                <td>
                    <input *ngIf="varCPV === 0" type="button" class="btn btn-danger" routerLink="/home/program/evaluate/{{program.programCode}}" value="Cargar">
                    <input *ngIf="varCPV === 1" type="button" class="btn btn-danger" routerLink="/home/livelihood/attach/{{program.programCode}}" value="Cargar">
                    <input *ngIf="varCPV === 2" type="button" class="btn btn-danger" routerLink="/home/purchase/ticket/register/{{program.programCode}}" value="Cargar">
                    <input *ngIf="varCPV === 3" type="button" class="btn btn-danger" routerLink="/home/program/verify/{{program.programCode}}" value="Cargar">
                </td>
            </tr>
        </tbody>
    </table>
</div>