<app-navbar [role]="fRole"></app-navbar>
<div class="container divFather">
    <div class="divSon">
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="changeRequestForm">

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="program">Programacion</label>
                    <input type="text" disabled="true" class="form-control" id="program" formControlName="programCode">
                </div>
                <div class="form-group col-md-4">
                    <label for="entidad_minera">&nbsp;</label>
                    <div class="myBut">
                        <button type="submit " class="btn btn-secondary" [routerLink]="['/home/program/acceptd/consult']">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="entidad_minera">Entidad minera</label>
                    <input type="text" class="form-control" id="entidad_minera" disabled="true" [value]="miningEnt">
                </div>
                <div class="form-group col-md-4">
                    <label for="comisionado">Comisionado</label>
                    <input type="text" class="form-control" id="comisionado" disabled="true" [value]="empFullName">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="initialDate">Fecha de inicio</label>
                    <input type="text" class="form-control" id="initialDate" disabled="true" [value]="initialDate">
                </div>
                <div class="form-group col-md-4">
                    <label for="finalDate ">Fecha de fin</label>
                    <input type="text" class="form-control" id="finalDate" disabled="true" [value]="finalDate">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                </div>
                <div class="form-check">
                    <input type="checkbox" disabled="true" class="form-check-input" id="viatics" [checked]="viaticFlag===1">
                    <label class="form-check-label" for="viatics">Viaticos financiado por minera</label>
                </div>
                <div class="form-group col-md-4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                </div>
                <div class="form-group col-md-2">
                    <label for="lodging">Hospedaje</label>
                    <input type="text" disabled="true" class="form-control" id="lodging" [value]="lodging">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                </div>
                <div class="form-group col-md-2">
                    <label for="transport">Transporte</label>
                    <input type="text" disabled="true" class="form-control" id="transport" [value]="transport">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-1">
                </div>
                <div class="form-group col-md-6">
                    <label for="description">Observaciones</label>
                    <textarea class="form-control" rows="4" cols="54" name="description" formControlName="observations"></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-secondary" [disabled]="changeRequestForm.invalid">Continuar</button>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-danger" routerLink="/home">Cancelar</button>
                </div>
            </div>
        </form>

    </div>
</div>

<button id="modalRegisterButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalRegister">
        Modal de registro
    </button>
<br>
<button id="modalToErrorButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalToError">
        Modal de Error
</button>

<!-- Modal to Register -->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="modalRegisterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Solicitud de modificacion de programacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{backResponse.description}}
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="validateWithModal()">Registrar otro cronograma</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/home">Volver al home</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal to Error -->
<div class="modal fade" id="modalToError" tabindex="-1" role="dialog" aria-labelledby="modalToErrorTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Alerta de error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{error}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>